# Virtual environments
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.idea/
.vscode/

# for HF spaces, we WANT vectorstore pushed.
.db_cache/
model-saved/
tokenizer-saved/

# pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
